<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.e3mall.search.mapper.SearchItemMapper" >
  <select id="getSearchItems4SolrIndex" resultType="cn.e3mall.search.pojo.SearchItem">
  	SELECT
		a.id,
		a.title,
		a.sell_point,
		a.price,
		a.image,
		b.`name` category_name ,
		c.item_desc
	FROM
		`tb_item` a,
		tb_item_cat b,
		tb_item_desc c
	WHERE
		a.cid = b.id
	AND a.id = c.item_id
	AND a. STATUS = 1;
  </select>
   <select id="getSearchItems4SolrIndexById" resultType="cn.e3mall.search.pojo.SearchItem">
  	SELECT
		a.id,
		a.title,
		a.sell_point,
		a.price,
		a.image,
		b.`name` category_name ,
		c.item_desc
	FROM
		`tb_item` a,
		tb_item_cat b,
		tb_item_desc c
	WHERE
		a.cid = b.id
	AND a.id = c.item_id
	AND a. STATUS = 1
	AND a.id=#{id};
  </select>
</mapper>